<footer class="footer">
  <div class="container-fluid">
    <div class="footer-social">
      <a href="#" class="social-link" aria-label="Facebook">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="#" class="social-link" aria-label="Instagram">
        <mat-icon>photo_camera</mat-icon>
      </a>
      <a href="#" class="social-link" aria-label="LinkedIn">
        <mat-icon>business</mat-icon>
      </a>
      <a href="#" class="social-link" aria-label="YouTube">
        <mat-icon>play_circle</mat-icon>
      </a>
      <a href="#" class="social-link" aria-label="Telegram">
        <mat-icon>send</mat-icon>
      </a>
    </div>
  </div>
</footer>
